@font-face {
  font-family: "PT Sans";
  src: url(./PT_Sans-Web-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(./PT_Sans-Web-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}