html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
blockquote {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

footer {
  color: #fff;
}